<h1><%= params[:category] || "All Books" %></h1>

<% if @books.count == 0 %>
  <h3>No books found</h3>
<% else %>
  <div class="container">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-6 col-md-3 mb-4">
          <%= link_to book_path(book) do %>
            <% if book.avatar.attached? %>
              <%= image_tag book.avatar, style: "width: 100%; height: auto;" %>
            <% else %>
              <div style="height: 200px; background-color: #f8f9fa; display: flex; align-items: center; justify-content: center;">
                <span>No Cover</span>
              </div>
            <% end %>
            <div>
              <p><%= book.title %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>