
<% if @books.count == 0 %>
  <h3>No books found</h3>
<% else %>
  <div class="container">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-6 col-md-3 mb-3">
          <%= link_to book_path(book) do %>
            <% if book.avatar.attached? %>
              <%= image_tag book.avatar, style: "width: 100%; height: auto;" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>